<h1>
    New Book
</h1>

<form action="Create" method="post">
    <div>
        <label >Name of Book</label>
        <input type="text" name="Name">
    </div>

    <div>
        <label >Author of Book</label>
        <input type="text" name="Author">
    </div>

    <div >
        <input class="btn btn-success" type="submit" value="Submit">
    </div>
</form>